/* Rectangle 47 */

position: absolute;
width: 181px;
height: 52px;

background: #6246EA;
border-radius: 10000px;


/* Accueil */

position: absolute;
width: 103px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;