body {
    background: rgb(0, 0, 0)!important;
}


input[type=submit]  { /*premier boutton*/
  
    position: relative;
    border: 0em solid #6246EA;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.5em;
    margin-left: 45%;
    width: 8em;
    height: 3em;
    background: #6246EA;
    border-radius:2em;
    transition: height 1.5s, width 1.5s,border 0.3s;
    overflow: hidden;
 
  }

  input[type=button]  { /*second boutton*/
  
    position: relative;
    border: 0em solid #6246EA;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
    margin-left: 45%;
    width: 8em;
    height: 3em;
    background: #6246EA;
    border-radius:2em;
    transition: height 1.5s, width 1.5s,border 0.3s;
    overflow: hidden;
 
  }
  
  input[type=textarea] { /*e-mail*/
    display: inline-block;
    box-sizing: border-box; 
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 10em;
    margin-left: 37%;
    border: none;
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: #333;
    padding: 0.1em;
    height: 2em;
    width: 22em;
    font-size: 1em;
    border-radius: 2em;
    line-height: 1em;
    outline: 0 solid transparent;
    box-shadow: rgb(0, 0, 0) 0 10px 20px -10px;
  }

  input[type=textarea2] { /* password*/
    display: inline-block;
    box-sizing: border-box; 
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-left: 37%;
    border: none;
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color: #333;
    padding: 0.1em;
    height: 2em;
    width: 22em;
    font-size: 1em;
    border-radius: 2em;
    line-height: 1em;
    outline: 0 solid transparent;
    box-shadow: rgb(0, 0, 0) 0 10px 20px -10px;
  }

  
  
  input[type=submit]:hover{
    background-color: rgb(#6246EA);
    color: rgb(255, 255, 255);
  }
  

  input[type=button]:hover{
    background-color: rgb(#6246EA);
    color: rgb(255, 255, 255);
  }

  
  
  




  